Version 2.5.0: has breaking changes in terms of certificate verfication

@mbyczkowski 

-Add support for x5u, x5t, and x5t#S256 headers for JWK (#242).

**#issue 1**
has some breaking changes particularly in the jwk.go, where 

**method name** : func (k *JSONWebKey) UnmarshalJSON(data []byte) (err error) 

k.CertificateThumbprintSHA1 = raw.X5tSHA1.bytes()
k.CertificateThumbprintSHA256 = raw.X5tSHA256.bytes()

here the raw value is attempted to convert in bytes but it does not work as expected
in fact, it returns base64 decoded value for kid attribute in the token.

as a result following conditions always fails,

if x5tSHA1Len > 0 && x5tSHA1Len != sha1.Size {
		return errors.New("square/go-jose: invalid JWK, x5t header is of incorrect size")
	}
	if x5tSHA256Len > 0 && x5tSHA256Len != sha256.Size {
		return errors.New("square/go-jose: invalid JWK, x5t header is of incorrect size")
	}

here sha1.Size is the checksum size which is expected to be 20 bytes. but the value which we are assigning k.CertificateThumbprintSHA1 is not a checksum instead it's a raw hash for sha1 or sha256. So when x5tSHA1Len := len(k.CertificateThumbprintSHA1))is executed length turns out to be **40**

solutions:
use x5tSHA1Len := len(sha1.Sum(k.CertificateThumbprintSHA1))

**#issue 2**

// If certificate chain *and* thumbprints are set, verify correctness.
	if len(k.Certificates) > 0 {
		leaf := k.Certificates[0]
		sha1sum := sha1.Sum(leaf.Raw)
		sha256sum := sha256.Sum256(leaf.Raw)
		if len(k.CertificateThumbprintSHA1) > 0 && !bytes.Equal(sha1sum[:], k.CertificateThumbprintSHA1) {
			return errors.New("square/go-jose: invalid JWK, x5c thumbprint does not match x5t value")
		}

		if len(k.CertificateThumbprintSHA256) > 0 && !bytes.Equal(sha256sum[:], k.CertificateThumbprintSHA256) {
			return errors.New("square/go-jose: invalid JWK, x5c thumbprint does not match x5t#S256 value")
		}
	}

I don't understand what are we trying to validate here but this condition seems to be failing always.


feel free to reach out in case of questions or queries


Thanks for the report @hiten1988! I have backported #242 to `v2` in #291 and subsequently released in 2.5.0 release.

Since,  **x5u**, **x5t** and **x5t#S256** parameters are optional and the validation only happens if those parameters are present, those issues should only be present for JWKs that set them.

@csstaub might have more context on this, but based on my reading of [RFC 7517, Section 4.8](https://tools.ietf.org/html/rfc7517#section-4.8), **x5t** parameters are _base64url-encoded_ SHA thumbprints, and the code that landed in #242 treats them as raw bytes.

re: _issue #1_
I don't think `x5tSHA1Len := len(sha1.Sum(k.CertificateThumbprintSHA1))` is the right solution. You want to do something like `k.CertificateThumbprintSHA1 = base64.RawURLEncoding.DecodeString(raw.X5tSHA1.bytes())` (with error handling).

Then _issue #2_ is non-existent, because that we can now correctly validate that the SHA of the leaf certificate indeed matches the certificate thumbprint/fingerprint.

Yes, I think that analysis is correct. It's encoded vs. raw bytes confusion.

Hey guys! Really appreciate you providing and supporting this library.

I tried updating our application to v2.5.0, and we ran into this same error. Unfortunately, fixing the keys isn't so easy. We're using Auth0 as a provider, and I'm guessing anyone using them is going to run into this issue.

Here's a current snapshot of our RSA well-known keys in JWKS format that Auth0 is providing at `https://my-custom-domain.auth0.com/.well-known/jwks.json`. When these are parsed using v2.4.2, there is no issue and we get 2 keys back in the web key set. With v2.5.0, we get the aforementioned `square/go-jose: invalid JWK, x5t header is of incorrect size` error.

Is this something we need to raise upstream with Auth0 as they are interpreting the spec wrong? Or is there something that needs fixing in this library as @mbyczkowski seems to be indicating?

```json
{
	"keys": [
	  {
		"alg": "RS256",
		"kty": "RSA",
		"use": "sig",
		"n": "2bBjwQvDQLIFDI6YSEbRTChjCCjCibqWX8NSBO1pSRYdbGYv7VQ9Aq02rzKQThUmVa-UgJ-FiIC_N3iXcNpl0R6a2hDyX4rqAg0g9KCTltyMzK9OdEBtNgX8Qi5qZk5LUNOJkdpbQTo_yvI9wOHUa5afE1QiMBJMLNb9gGoowzEpfjxBtVDQWFv37EdVjghhDEB1Pg_vu5IWpVLUARRYljBnOBpdKeNvxZnH7ucJ6sfiQXH8CFl8vgsEQc6EXhsE9TeiiFg7Jxbo7_VDQ8ACN8g-PBKJJFTT7CNjJNIRvDFGseZ2uQv55sa4nKMQnr7lr1a5lJrl8il6l3qsJHoEoQ",
		"e": "AQAB",
		"kid": "M0EwMjFCOEQxQTFEREM1NzI3MURBQTVFNzZCOTA5MzMyNjU2QjNDMQ",
		"x5t": "M0EwMjFCOEQxQTFEREM1NzI3MURBQTVFNzZCOTA5MzMyNjU2QjNDMQ",
		"x5c": [
		  "MIIDBzCCAe+gAwIBAgIJPFrkEqP1oF7SMA0GCSqGSIb3DQEBCwUAMCExHzAdBgNVBAMTFmRldi01MzItOWw3aC5hdXRoMC5jb20wHhcNMjAwMjEyMjE1NTQ1WhcNMzMxMDIxMjE1NTQ1WjAhMR8wHQYDVQQDExZkZXYtNTMyLTlsN2guYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2bBjwQvDQLIFDI6YSEbRTChjCCjCibqWX8NSBO1pSRYdbGYv7VQ9Aq02rzKQThUmVa+UgJ+FiIC/N3iXcNpl0R6a2hDyX4rqAg0g9KCTltyMzK9OdEBtNgX8Qi5qZk5LUNOJkdpbQTo/yvI9wOHUa5afE1QiMBJMLNb9gGoowzEpfjxBtVDQWFv37EdVjghhDEB1Pg/vu5IWpVLUARRYljBnOBpdKeNvxZnH7ucJ6sfiQXH8CFl8vgsEQc6EXhsE9TeiiFg7Jxbo7/VDQ8ACN8g+PBKJJFTT7CNjJNIRvDFGseZ2uQv55sa4nKMQnr7lr1a5lJrl8il6l3qsJHoEoQIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBSVNLr193/yK+II6iqFPvlHJHrC0TAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQELBQADggEBACL50u+8zsWjZeLycDxwwQJ4Gn7jzTfkpX7YwaQFOW7Vj/irhhvzcWqVpRfAW1yob1WPP6D6KsBlkk8MJWCgqiBLHkkE3qPCzPAhvL8xVsCXeuDj17AMUWVZ1ZOFOSt8k4rbSELnh19tBPspr3ztLE9+2TqFJzmgNOv8hT162K+YAKIlFgC2hSBj3xjscVIFmIWMbPf1vbNNiAEFJ64CgUE3W2I+/foQWnhaaf9bFCsLSkO59ccNXTcXcegERyR24AKqUOqGQQ1l7ubMxHeN7uloAnz/xj5bXgtaGqegScCD8VhKYyjJ6+gvK9joP7Qgkrg7jBsl/KpYhRel+gELxhY="
		]
	  },
	  {
		"alg": "RS256",
		"kty": "RSA",
		"use": "sig",
		"n": "0xSJSYXZpx2Tx8dWFl6cTgdLCDP-nOiw8IexzFsJe10DCIc-RaWbar2dHXWCk2YWS7HaMrkgWjoJX6iCAwRieOBcttXkzcaD1V-eh4QDk6OswwEx-ZNTI4uK3PsEXyIC31vkCEJ9_9DKWjkCSUie5B_n5k3ojZFqoJAiMKMWCIgpObwJJ8eGQuaNoku_jXH_LUO0Jv1vVhlFASYJsc4O-xTTVIT8YYPxjpGLRX0EGmG7PfoWly4vdFqMpGuX_tEKG2hjB2uEfgQiCkXioHBitUZ9y4yIN9y_GY8MjYJVHi2vBfgY2v9sLTC49e7fuYNol89KmeoWgoMUg9lO2dQI_Q",
		"e": "AQAB",
		"kid": "nDxXr1g3VpXLMIU95ZiZo",
		"x5t": "Ulkh6vuMSIVhllG8KiVGSasKNAQ",
		"x5c": [
		  "MIIDBzCCAe+gAwIBAgIJSv90DFEWT9zwMA0GCSqGSIb3DQEBCwUAMCExHzAdBgNVBAMTFmRldi01MzItOWw3aC5hdXRoMC5jb20wHhcNMjAwMzExMTcyNTE0WhcNMzMxMTE4MTcyNTE0WjAhMR8wHQYDVQQDExZkZXYtNTMyLTlsN2guYXV0aDAuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0xSJSYXZpx2Tx8dWFl6cTgdLCDP+nOiw8IexzFsJe10DCIc+RaWbar2dHXWCk2YWS7HaMrkgWjoJX6iCAwRieOBcttXkzcaD1V+eh4QDk6OswwEx+ZNTI4uK3PsEXyIC31vkCEJ9/9DKWjkCSUie5B/n5k3ojZFqoJAiMKMWCIgpObwJJ8eGQuaNoku/jXH/LUO0Jv1vVhlFASYJsc4O+xTTVIT8YYPxjpGLRX0EGmG7PfoWly4vdFqMpGuX/tEKG2hjB2uEfgQiCkXioHBitUZ9y4yIN9y/GY8MjYJVHi2vBfgY2v9sLTC49e7fuYNol89KmeoWgoMUg9lO2dQI/QIDAQABo0IwQDAPBgNVHRMBAf8EBTADAQH/MB0GA1UdDgQWBBSoEqBoLd4Quw+m1Yfc0C1hgiGhejAOBgNVHQ8BAf8EBAMCAoQwDQYJKoZIhvcNAQELBQADggEBAAt6R8iei6zd1bKHBlq0EduERiQjaRC8eVgkO5ioQ9JbvqHMWT7JwGiIoXM8h7dWGPTDiGlq+gMgx6MFhG3pxT6Cs1vhhgzNW1vjKJ6PI9yLhh7eHvEOYRv5H7FxuoVu+OS8RfKb+myQo9zCJhzD5sjifTX5lbCxHP9pCGsDSRh6nvbU+rmdLVX44Mr7gzoQPszXBBReJGlRC6NyFXH/c/eUo3rFVTpqs0XUJp9+5TfdEdK8zVIK6MBGYtxPMcoUn706HswDo7O5r6zGrbmLhdyIufyPpgbSqjoQHuqyF7Yc8W2oKp/uEjCnEEqxf1GWo0gLyB/ulsJ9G4Dw6Yx8vbI="
		]
	  }
	]
  }
```

+1

I'm broken for the same reason and had to roll back to the previous release

@dmcgee-ripple this is something that we should fix in go-jose. I'm working on a fix that should go out in 2.5.1. Unfortunately, I haven't had a lot of bandwidth recently 😞 

@mbyczkowski I was actually just trying to fix it as well but for the case above as well as mine (also from auth0) seems like there is a mismatch between 

```
sha1sum := sha1.Sum(leaf.Raw)
k.CertificateThumbprintSHA1 
```

as sha1sum does produce the 20 byte output but k.CertificateThumbprintSHA1 produces something different, but I may be missing something as I'm not very familiar with the codebase. 

If you have some time I'm happy to pair on this if you're interested

@mbyczkowski understandable. Thank you for all your hard work.


Hey @mbyczkowski, I'm trying to fix it at the moment as well but I'm still trying to figure some part of the code out, if you have some time I'd be happy to help you out, just kinda need to figure out the right way to verify the checksums which is what is not working for me at the moment. My use case is also with an auth0 cert. 

I have pushed whatever I got so far in #303 and annotated some of my (WIP) changes. I hope it helps. Also, any feedback's welcome. 

@mbyczkowski I've raised https://github.com/square/go-jose/pull/304, I think it solves the problem as far as I can see, would you be able to review it please ? 

Thanks for all your work @mangas and @hiten1988 for the initial report. GH has auto-closed this issue, but feel free to re-open if you find the issue to still be present.

I'm going to backport #304 to `v2` and then release `2.5.1`.