Does KDF Implementation satisfy NIST SP 800-56A 

With V2 version, does KDF Implementation satisfy NIST SP 800-56A? I am looking for NIST SP 800-56A kdf tooling. Found kdf util in go-jose, but there is no reference in documentation. so I want to confirm if it is implemented based on NIST SP 800-56A.

Yes, the `NewConcatKDF` function in the go-jose/cipher package implements the Concatenation KDF as specified in Section 5.8 of NIST SP 800-56A, as required by the JSON Web Algorithms spec (RFC 7518). Note it doesn't implement all of the possible KDFs from NIST SP 800-56A, just the one required for JOSE. But I think that's the most commonly (or only one?) used in practice.

@csstaub Thanks your answer!! That's good news to me!!